rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isStaff() {
      return request.auth != null &&
        exists(/databases/$(database)/documents/staff/$(request.auth.token.email));
    }

    match /{document=**} {
      allow read, write: if isStaff();
    }
  }
}
